*
{
	margin:0;
}

.calendrier-app-container
{
	/*background:red;*/
	margin:0 auto;
	width:600px;
	height:500px;
		margin-top:50px;/*XXXXXXXXXXXX*/
}

@media screen and (max-width: 600px)
{
    .calendrier-app-container
    {
        background: lightgreen;
    }	
	
	.calendrier-app-container
	{
		width:100%;
	}

	.calendrier-app-days-table-container, th
	{
		font-size: 0.5em;
	}
}

@media screen and (max-height: 550px)
{
    .calendrier-app-container
    {
        background: lightgreen;
    }	
	
	.calendrier-app-container
	{
			margin-top:0px;/*XXXXXXXXXXXX*/
		height:100%;
	}
}

.calendrier-app-days-table-container, td
{
	border-collapse:collapse;
	border: 1px solid black;
	width:100%;
	height:100%;
}
.calendrier-app-days-table-container, th
{
	font-size: 1em;
}

.calendrier-app-day-th-container
{
	height:5%;
}

.calendrier-app-day-td-container
{
	color:DarkGrey;
    vertical-align: text-top;
	width:14.285%;
	height:15.285%;
}
#calendrier-app-table-header-container
{
	text-align: center;	
	font-weight: bold;
	font-size: 2em;
	width:100%;
}

#calendrier-app-table-header-left-arrow-container
{
	display: inline-block;
	/*width:20%;*/
}
#calendrier-app-table-title-container
{
	display: inline-block;
	width:50%;
}
#calendrier-app-table-header-right-arrow-container
{
	display: inline-block;
	/*width:20%;*/
}
.test-test-test
{
	color:black;
}