@font-face {
     font-family: "Ubuntu Light";
    src: url(font/Ubuntu-L.ttf);
    }
*
{
	font-family: "Ubuntu Light", serif;
	margin:0;
}
/**********************************/
/*jqueryui*/
/**********************************/

.ui-resizable-handle
{
	z-index:5;
}
.ui-resizable-s
{
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
    /*border-top: darkgrey solid 1px;*/
}
.app-container
{
	width:97%;    
	height:100%;    
	margin: 0 auto;
}
.calendrier-app-container
{
	width: 79%;
	height:95%;
	margin-top:20px;
	float:right;

	display: inline-block;
}
.calendrier-app-days-table-container, td
{
	border-collapse:collapse;
	border: 1px solid lightgrey;
	width:100%;
}
.calendrier-app-days-table-container, th
{
	font-size: 0.9em;
    height: 95.5%;
}

#calendrier-app-table-header-container
{
	text-align: center;	
	font-weight: bold;
	font-size: 2em;
	width:100%;
}
.calendrier-app-day-th-container
{
											height:5%;
}
#calendrier-app-day-tr-container-1:hover
{
	background-color:white;
}
.calendrier-app-day-td-container
{
	color:darkgrey;
	font-size: 1em;
    vertical-align: text-top;
	width:14.285%;
											height:14.85%;
}

#calendrier-app-table-header-left-arrow-container
{
	display: inline-block;
}
#calendrier-app-table-header-left-arrow-container:hover
{
	color:darkgrey;
}
#calendrier-app-table-title-container
{
	display: inline-block;
	width:50%;
}
#calendrier-app-table-title-container:hover
{
	color:darkgrey;
}
#calendrier-app-table-header-right-arrow-container
{
	display: inline-block;
}
#calendrier-app-table-header-right-arrow-container:hover
{
	color:darkgrey;
}
.calendrier-app-day-real-days-in-month-td-container
{
	font-size: 1.05em;
	color:black;
}

/***********************************************************************************************************************************************

				WEEK

************************************************************************************************************************************************/

#calendrier-app-week-table-header-container
{
	text-align: center;	
	font-weight: bold;
	font-size: 1.5em;
	width:94.5%;
	float:right;
}
.calendrier-app-week-day-th-container
{
											height:5%;
}
.calendrier-app-week-day-td-container
{
	color:black;
	font-size: 1em;
    vertical-align: text-top;
	width:12.5%;
}
.calendrier-app-week-hour-day-td-container
{
	text-align: center;
	width:5%;
	font-size: 0.8em;
	vertical-align: bottom;
}
#calendrier-app-week-table-header-left-arrow-container
{
	margin-left:0px;
	display: inline-block;
    float: left;
}
#calendrier-app-week-table-title-container
{
	display: inline-block;
}
#calendrier-app-week-table-header-right-arrow-container
{
	margin-right:0px;
	display: inline-block;
    float: right;
}
#calendrier-app-week-day-th-container-0
{
	border-left:1px solid white;
	border-top:1px solid white;
	border-right:1px solid lightgrey;
}

/****************************************************************************/




/****************************************************************************/
.calendrier-modale-app-lit-cont
{
	position:fixed;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
    z-index:2;
    background: rgba(0, 0, 0, 0.4);
}
.calendrier-app-lit-container
{
	position: relative;
    width: 15%;   
    min-width: 160px;
    margin:70px auto;
    background-color:white;
    z-index:2;
}
.calendrier-app-lit-days-table-container, th
{
	font-size: 0.9em;
    height: 0%;
}
.calendrier-app-lit-days-table-container, td
{
	border-collapse:collapse;
	border: 1px solid lightgrey;
	width:100%;
}
#calendrier-app-lit-table-header-container
{
	text-align: center;
	background-color: lightgrey;
	font-size: 1em;
}
/*Head*/
#calendrier-app-lit-table-header-left-arrow-container
{
	float:left;
	display: inline;
}
#calendrier-app-lit-table-header-left-arrow-container:hover
{
	background-color:darkgrey;
}
#calendrier-app-lit-table-title-container
{
	display: inline;
}
#calendrier-app-lit-table-header-right-arrow-container
{
	float:right;
	display: inline;
}
#calendrier-app-lit-table-header-right-arrow-container:hover
{
	background-color:darkgrey;
}
/*TD*/
.calendrier-app-lit-day-td-container
{
	padding:2px;
	font-size: 0.8em;
	color:darkgrey;	
	width:15%;
}
.calendrier-app-lit-day-real-days-in-month-td-container
{
	font-size: 1em;
	color:black;	
}
/*TR*/

.calendrier-app-lit-day-tr-container:hover
{
	background-color:lightgrey;
}
#calendrier-app-lit-day-tr-container-1:hover
{
	background-color:white;
}

/*******************************************************************************************/


							/*TAB*/


/*******************************************************************************************/
.tabs-app-container
{
	height:100%;
	width:20%;
	display: inline-block;
    font-size: 0.9em;
}
#tabs-names-app-container
{
    border-left: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
}
.ressources-tab-app-container:hover
{
    background: lightgrey;
    border-color: darkgrey;
}
.tabs-name-tab-app-container
{
    padding: 2 10 2 5;
    color: darkgrey;
    background-color: lightgrey;
    display: inline-block;
    border-top: 1px solid darkgrey;	
    border-right: 1px solid darkgrey;
}
.tabs-name-tab-app-container:hover
{
    color: black;
    background-color: darkgrey;
}
.tabs-current-tab-app
{
	position: relative;
	margin-bottom: -1px;
    background-color: white;
	color: black;
    border-bottom: 1px solid white;
}
.tabs-current-tab-app:hover
{
    background-color: white;	
}
#tabs-contenu-app-container
{
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    padding: 5 0 0 0;
}
.ressources-tab-app-container
{
    text-align: left;
    height: 17px;
    display: block;
    padding: 5 0 5 5;
    border: 1px solid darkgrey;
    /* border-right: 1px solid darkgrey; */
    /* border-left: 1px solid darkgrey; */
    margin: 0 5 5 5;
}

.ressources-more-tab-app-container
{
    height: 17px;
    display: block;
    text-align: center;
    padding: 5;
}
.ressources-more-tab-app
{
	height: 14px;
	width: 14px;
	margin:0 auto;
	background-repeat: no-repeat;
    background-position: 0px 0px;
    background-image:url(img/more.png);
}
.ressources-add-all-tab-app
{
	height: 15px;
	width: 15px;
	float: right;
	margin-top: -14px;
	margin-right: 5px;
    background-image:url(img/sendall.png);
}
.ressources-add-all-tab-app:hover
{
    background-position: -14px 0px;
}
.tab-title
{
	width:8em;
	float:left;
}
.ressources-more-tab-app:hover
{
    background-position: center top;
    background-position: -14px 0px;
}
.tab-task-state /*waiting*/
{
	width: 15px;
	height: 15px;
	float: right;
	margin-right: 5px;
}
.tab-task-state:hover
{
	background-position:-15px 0px;
}
.tab-task-state-0
{
    background-image:url(img/send.png);
}
.tab-task-state-1
{
    background-image:url(img/waiting.png);
}
.tab-task-state-2 /*waiting*/
{
    background-image:url(img/accept.png);
}
.tab-task-state-3 /*waiting*/
{
    background-image:url(img/delete.png);
}
.tab-task-state-popin
{
	position:relative;
	display:none;
	float: right;
	font-size: 0.9em;
	z-index: 10;
	padding: 2 5 3 5;
	margin-top: -2px;
	border : 1px solid darkgrey;
	background-color : lightgrey;
}
.ressources-add-all-tab-popin{
	position:relative;
	display:none;
	float: right;
	font-size: 0.9em;
	z-index: 10;
	padding: 2 5 3 5;
	margin-top: -15px;
	border : 1px solid darkgrey;
	background-color : lightgrey;
}
/*********************************************************************

						TASK

**********************************************************************/
.calendrier-app-hour-title-task-container
{
	margin-left:2.5%;
    float:left;
}
.calendrier-app-task-container
{
	overflow: hidden;
	position:absolute;
    width: 136px;
    height: 18px;
    background: #ccc;
}
.calendrier-app-month-task
{
	width:calc(100% - 4px);
	height: 10px;
	float:left;
	margin:1px;
    padding-bottom: 5px;
    font-size: 0.8em;
    text-align: center;
	border:1px solid darkgrey;
	background-color:lightgrey; 
}
.calendrier-app-task-demi-hour-start-container
{
    margin-top: 0.9%;
}
.calendrier-app-task-demi-hour-end-container
{
	float: left;
}
.calendrier-app-hour-task-container
{
	font-size:0.8em;

}
.calendrier-app-hour-start-task-container
{
	margin-left:2.5%;
	float: left;
}
.calendrier-app-hour-end-task-container
{
	margin-left:2.5%;
	float: left;
}
.calendrier-app-hour-total-task-container
{
	margin-left:2.5%;
	float: left;

}
.calendrier-app-task-desc-container
{
	float : left;
	display : block;
	margin-top : 14px;
	width : 100%;
}
.calendrier-app-day-task-hover
{
	font-size: 0.9em;
	position : absolute;
	z-index: 10;
	padding: 5px;
	border : 1px solid darkgrey;
	background-color : lightgrey;
	margin-left:1px;
	overflow: hidden;
}
/*********************************************************************************************************************************/



														/* Popup */
														


/*********************************************************************************************************************************/

.task-add-popup-overlay
{
	top:0;	
	left:0;
	width: 100%;
	height:100%;
	position:fixed;
    background: rgba(0, 0, 0, 0.4);
}
.task-add-popup-modal
{
	margin: 70px auto;
	padding: 0 0 20 0;
	background: #fff;
  	width:30em;
	position: relative;
	border:grey solid 1px;
    z-index: 11;
}
.popup-app-in
{
	margin: 20px auto 0;
	padding: 20px;
	text-align: center;
	background: #fff;
  	max-width:70%;
	position: relative;
	border:grey solid 1px;
    z-index: 11;
	display:none;
	overflow: hidden;
    box-shadow: lightgrey 0px 0px 3px 3px;
}
.popup-app
{
	top:0px;	
	left:0px;
	width: 100%;
	position:fixed;
}

/***********************************************************************************************************************/
/*                                       form                                                                   */
/***********************************************************************************************************************/

.form-container
{
  padding:20px 20px 60px 20px;
}
.form-header
{
	color:grey;
	margin-top:5px;
	margin-bottom:5px;
}
.form-field
{
	font-size: 0.9em;
  	border: solid 1px darkgrey;
  	background:lightgrey;
  	color:grey;
  	margin-top:5px;
  	margin-bottom:5px;
}
textarea 
{
	resize:none;
	padding:10 10 10 15;
	height:100px;
	width:100%;
	color:grey;
}
input
{
  padding-left:15px;  
  width: 100%;
}
select
{
  padding-left:10px;
  width:100%;  
}
.select
{ 
  color:grey;
}
::-webkit-input-placeholder
{
    color:grey;
    font-size:0.9em;
}
.form-button
{
  margin-top:15px;
  padding:5px;
}
.form-button.form-left
{
	background: #FA5858;
}
.form-button.form-right
{
	background: #74DF00;
}
.form-left
{
  float:left;
}
.form-right
{
  float:right;
}

.form-login
{
	top:5em;	
	left:0px;
	width: 100%;
	position:fixed;
}

/***********************************************************************************************************************/
/*                                       Loader                                                                        */
/***********************************************************************************************************************/
#loader-container
{
	top:0px;	
	left:0px;
	width: 100%;
	position:fixed;
	z-index:10;
}
#loader-in
{
	display:none;
	height:6px;
	width:10px;
	background: grey;
}
/***********************************************************************************************************************/
/*                                       mediascreen                                                                   */
/***********************************************************************************************************************/
@media screen and (max-width: 600px)
{
	.app-container
	{
		width:100%;
	}
	.tabs-app-container
	{
		display:inline;		
	}
	.calendrier-app-container
	{
		display:inline;	
	    width: 80%;
	    height: 95%;
	    margin: auto;
	    /*float: auto;*/
   		float: none;

	}
	.calendrier-app-days-table-container, th
	{
		font-size: 0.5em;
	}
}

@media screen and (max-height: 500px)
{
    .calendrier-app-container
    {
		display:inline;
        background: lightgreen;
	    width: 90%;
	    height: 95%;
	    margin: auto;
    }	
	
	.calendrier-app-container
	{
		margin-top:0px;
		height:100%;
	}
}
